<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WaKa"
        tools:targetApi="31">
        <activity
            android:name=".Author.InfoUserActivity"
            android:exported="false" />
        <activity
            android:name=".UpgradeActivity"
            android:exported="false" />
        <activity
            android:name=".SubscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Payment.PaymentChooseActivity"
            android:exported="false" />
        <activity
            android:name=".Payment.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".Audio.AudioActivity"
            android:exported="false" />
        <activity
            android:name=".MenuBarInHome.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".CommentActivity"
            android:exported="false" />
        <activity
            android:name=".Author.LoginOpenActivity"
            android:exported="false" />
        <activity
            android:name=".Author.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Author.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Comment.ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".Book.ActivityBook"
            android:exported="false" />
        <activity
            android:name=".RankActivity"
            android:exported="false" />
        <activity
            android:name=".OpenBook.OpenBookActivity"
            android:exported="false" />
        <activity
            android:name=".Details.DetailActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Payment.ResultPayment"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="vnpay"
                    android:pathPrefix="/payment-result"
                    android:scheme="waka" />
            </intent-filter>
        </activity>
    </application>

</manifest>